p{
    color: green;
}
.division1{
    font-size: 40px;
    border: 4px solid red;
}
.division2{
    color:blue;
}
#unique{
    color:coral;
    background: cornflowerblue;
}
div,p,a{
    border:2px solid red;
}
*{
    background-color: yellow;
}